.button-delete {
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  background-color: #e7738a;
  transition-duration: 0.4s;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: rgb(52, 50, 50)
}

.button-delete:hover {
  color: white;
}

.button-delete:active {
  background-color: rgba(29, 145, 247, 0.817);
}